<router-outlet>
    <!-- <div class="background-container">
    </div> -->
    <div class="container">
        <div class="image-section"></div>
        <div class="form-section">
            <div class="form-container">
                <h2>Welcome Back!</h2>
                <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
                    <label for="email">Email Address</label>
                    <input type="email" id="email" name="email" placeholder="example@mail.com"
                      [(ngModel)]="loginObj.email"
                      minlength="6"
                      required
                      #email="ngModel">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" placeholder="********"
                      [(ngModel)]="loginObj.password"
                      minlength="6"
                      required
                      #password="ngModel">
                    <button type="submit" [disabled]="!loginForm.valid">Login</button>
                    <div class="signup-link">
                        Don't have an account yet? <a href="#">Create an account</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
        
    <!-- <base href="/login/" />
    <div class="login-container">
        <h2>Login</h2>
        <form [formGroup]="loginForm" (ngSubmit)="login()">
            <div class="form-group">
                <label for="username">Username:</label>
                <input id="username" formControlName="username" placeholder="Enter username" />
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input id="password" formControlName="password" type="password" placeholder="Enter password" />
            </div>
            <button type="submit" [disabled]="loginForm.invalid">Login</button>
        </form>
        <p>{{ message }}</p>
    </div> -->
</router-outlet>