<router-outlet>
    <div class="container">
        <div class="image-section"></div>
        <div class="form-section">
            <div class="form-container">
                <h2>Welcome Back!</h2>
                <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
                    <label for="email">Email Address</label>
                    <input type="email" id="email" name="email" placeholder="example@mail.com"
                      [(ngModel)]="loginObj.email"
                      minlength="6"
                      required
                      #email="ngModel">
                    <p *ngIf="loginForm.submitted && emailInvalid">Please write the correct email.</p>
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" placeholder="********"
                      [(ngModel)]="loginObj.password"
                      minlength="6"
                      required
                      #password="ngModel">
                    <p *ngIf="loginForm.submitted && passwordInvalid">Password must be at least 6 characters long.</p>
                    <button type="submit">Login</button>
                    <p *ngIf="credentialsError">{{ credentialsError }}</p>
                    <div class="signup-link">
                        Don't have an account yet? <a href="/register">Create an account</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</router-outlet>